.post__wrapper {
  display: flex;
  padding: 10px;
}

.img__wrapper{
  width: 100px;
  height: 100px;
}
.post__img  {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
}
/* Внимание, тут мы каждому селектору задали псевдоним, через grid-area, потом в родительском элементе использовали  */
