.post__wrapper {
  display: flex;
  padding: 10px;
}

.img__wrapper{
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding-right: 20px;
}
.post__img  {
  display: block;
  max-width: 100px;
}
/* Внимание, тут мы каждому селектору задали псевдоним, через grid-area, потом в родительском элементе использовали  */
