.main__content {
  grid-area: c;
  background-color: antiquewhite;
}
.main__content__wrapper {
  height: 120px;
  box-sizing: border-box;
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/25/71/19/1000_F_225711927_wNBsSAGlIf6ZqTME9Obgh1v5HKVUplqc.jpg");
  background-size: cover;
}

.main__content__img {
  max-height: 100%;
  min-width: 100%;

}

.person__image {
  max-width: 160px;
}

.person__wrapper {
  display: flex;
}

.person__data {
  display: block; /* делаем ссылки блочными элементами */
  margin-right: 10px; /* сдвигаем их вправо на 10 пикселей */
  font-size: 20px; /* задаем размер шрифта */
  line-height: 1.5; /* увеличиваем высоту строки на 1.5 пункта */
  color: #333; /* задаем цвет текста ссылки */
}
.comments__wrapper {
  display: flex;
}
.comments__img {
  display: block;
  height: 50px;
}
/* Внимание, тут мы каждому селектору задали псевдоним, через grid-area, потом в родительском элементе использовали  */
