.messager__wrapper {
    width: 100%;
    height: 1000px;
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 5fr 10fr;
    font-size: 20px;
}

.dialogs {
    padding: 10px;
    border-right: 2px solid #000;
    gap: 30px
}


.user__block {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/*!--------------------------------------*/

.messages {
    padding: 10px;
}

.message__block {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

