.person__image {
  max-width: 160px;
}

.person__wrapper {
  display: flex;
}

.person__data {
  display: block; /* делаем ссылки блочными элементами */
  margin-right: 10px; /* сдвигаем их вправо на 10 пикселей */
  font-size: 20px; /* задаем размер шрифта */
  line-height: 1.5; /* увеличиваем высоту строки на 1.5 пункта */
  color: #333; /* задаем цвет текста ссылки */
}