.nav {
  background-color: #609679; /* задаем цвет фона */
  color: white; /* устанавливаем белый цвет текста */
  padding: 20px 0; /* добавляем отступы сверху и снизу */
  text-align: center; /* выравниваем текст по центру */
  /* border-radius: 5px; добавляем скругление углов */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* добавляем тень для ссылок */
  list-style-type: none;
}

.nav-link {
  display: block; /* делаем ссылки блочными элементами */
  margin-right: 10px; /* сдвигаем их вправо на 10 пикселей */
  font-size: 20px; /* задаем размер шрифта */
  line-height: 1.5; /* увеличиваем высоту строки на 1.5 пункта */
  color: #333; /* задаем цвет текста ссылки */
  text-decoration: none; /* убираем подчеркивание у ссылок */
  transition: color 0.5s;
}

.nav-link:hover {
  color: purple;
/* меняем цвет фона при наведении курсора мыши */
}
